
FingerTracking/hand.mov

FingerTracking/hand.m4v

FingerTracking.xcodeproj/xcuserdata/ft.xcuserdatad/xcschemes/xcschememanagement.plist

FingerTracking.xcodeproj/xcuserdata/ft.xcuserdatad/xcschemes/FingerTracking.xcscheme

FingerTracking.xcodeproj/xcuserdata/ft.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

FingerTracking.xcodeproj/project.xcworkspace/contents.xcworkspacedata

FingerTracking.xcodeproj/project.pbxproj

*.mov

FingerTracking/Hand2.m4v

FingerTracking.xcodeproj/project.xcworkspace/xcshareddata/FingerTracking.xccheckout

*.odt

*.pdf

*.o

FingerTracking.xcodeproj/project.xcworkspace/xcuserdata/ft.xcuserdatad/WorkspaceSettings.xcsettings
FingerTracking/.idea
